
  <article class="post">
    <div class="card mat-card" style="border-radius: 1.5rem;">
    <h2 class="proyectos">Proyectos</h2>
    <p class="pro">Desarrollamos un sitio web de comercio electrónico front End basado en Angular de alto
        tráfico con diseño innovador basado en UIX. Totalmente integrado con los sistemas CRM y ERP internos.
    </p>
    <h2 class="farmacia">e-Farmacia</h2>
    <p class="pro">Desarrollamos un Back End basado en API Rest con la técnología Spring Boot para proveer datos
        de monitoreo a aplicaciones distribuidas, tambien el desarrollo de interface entre sistemas de gestion
        para automatizar procesos.</p>
      </div>
</article>